.header
    min-height: 740px
    background-image: url(/img/elements/element_3/promo.jpg)
    background-repeat: no-repeat
    background-size: cover

.header__nav
    display: flex
    justify-content: space-between
    align-items: end
    padding-top: 20px
    margin-bottom: 112px

    @media (max-width: 1279.89px)
        padding-left: 10px
        padding-right: 10px

.header__logo
    width: 60px
    height: 60px

.header__title
    font-size: 64px
    line-height: cal(95/64*100%)
    text-align: center
    letter-spacing: 0.02em
    text-transform: uppercase
    color: #FFFFFF

    @media (max-width: 1279.89px)
        font-size: 50px

    @media (max-width: 767.89px)
        font-size: 32px

.header__subtitle
    font-weight: 400
    font-size: 17px
    line-height: 27px
    text-align: center
    text-transform: uppercase
    color: var(--color-white)
    margin-top: 16px

// BURGER -------------------------------------------
.header__burger
    width: 50px
    height: 50px
    cursor: pointer
    background-color: var(--color-accent)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    padding: 16px 15px
    position: relative
    z-index: 6

.header__burger span
    position: absolute
    background-color: var(--color-white)
    width: 25px
    border-radius: 1px
    height: 3px
    top: 25px
    transition: all 0.3s ease-in-out 0s

.header__burger:before,
.header__burger:after
    content: ''
    background-color: #fff
    width: 25px
    border-radius: 1px
    height: 3px
    position: absolute
    transition: all 0.3s ease-in-out 0s
.header__burger:before
    top: 15px
.header__burger:after
    bottom: 12px

.header__burger.active:before
    transform: rotate(45deg)
    top: 24px
.header__burger.active:after
    transform: rotate(-45deg)
    bottom: 24px
.header__burger.active span
    transform: scale(0)

.header__menu
    width: 300px
    height: auto
    background-color: var(--color-white)
    padding: 30px
    transform: all 0.3s ease-in-out
    display: none
    position: absolute
    right: 165px
    top: 30px
    z-index: 5

.menu__list

.menu__item
    margin-bottom: 30px
    font-size: 24px
    text-transform: uppercase

.menu__item:last-child
    margin-bottom: 0

.menu__link
    color: var(--color-black)

.header__menu.active
    display: block

body.lock
        overflow: hidden