@import variables
@import parts/header
@import parts/about
@import parts/clever
@import parts/deal
@import parts/pictures
@import parts/questions
@import parts/partners
@import parts/reviews
@import parts/contacts
@import parts/footer


// COMMON STYLES-----------------------------------------
html
    box-sizing: border-box

*, *:before, *:after
    padding: 0
    margin: 0
    border: 0
    box-sizing: inherit
    font-weight: 500
    font-family: 'Oswald', sans-serif

a
    text-decoration: none

ol, ul, li
    list-style: none

img
    vertical-align: top

h1, h2, h3, h4, h5, h6
    padding: 0
    margin: 0
    font-weight: inherit
    font-size: inherit

.container
    max-width: 1110px
    margin: 0 auto
    // @media (max-width: 1057px)
    //     max-width: 970px
    // @media (max-width: 991.87px)
    //     max-width: 950px
    // @media (max-width: 767.87px)
    //     max-width: 750px
    // @media (max-width: 319.87px)
    //     max-width: 320px

.wrapper

.subtitle-black
    font-size: 36px
    line-height: calc(53/33*100%)
    text-align: center
    text-transform: uppercase
    color: var(--color-dark)

    @media (max-width: 800.89px)
        font-size: 30px

.subtitle-white
    font-weight: 700
    font-size: 48px
    line-height: cal(71/48*100%)
    letter-spacing: 0.02em
    color: var(--color-white)
    text-transform: uppercase

    @media (max-width: 800.89px)
        font-size: 30px

.desc
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 16px
    line-height: 22px
    color: var(--color-grey)