.main-project
    background-color: var(--color-white)
    padding: 70px 0px 0px 0px

    @media (max-width: 970px)
        margin-top: 50px
    @media (max-width: 850px)
        margin-top: 20px
    @media (max-width: 660px)
        margin-top: 180px
    @media (max-width: 660px)
        margin-top: 50px

.main-project__row
    display: flex
    align-items: center

    @media (max-width: 1070px)
        flex-direction: column

.main-project__column
    min-width: 50%
    padding: 0px 15px

    @media (max-width: 1070px)
        padding: 20px 40px

.main-project__description ul
    list-style-type: square
    margin-top: 10px

.main-project__description li
    font-size: 12px