// ---------------------------------------SECTION 1---------------------------------
.portfolio
    padding: 0px 0px 50px 0px

.portfolio__container
    padding: 60px 60px 60px 60px

.portfolio__body

.portfolio__grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    column-gap: 30px
    row-gap: 50px
    gap: 3em

    @media (max-width: 1209.89px)
        grid-template-columns: 1fr 1fr 1fr
    @media (max-width: 943.89px)
        grid-template-columns: 1fr 1fr
    @media (max-width: 425.87px)
        grid-template-columns: 1fr

.portfolio__item


.item__img
    object-fit: cover

.item__img img
    align-items: end
.item__img img:hover
    filter: brightness(130%)

.item__description
    padding: 10px 35px

.item__text

.item__title
    font-size: 16px
    font-weight: 700
    text-align: center
    margin-top: 10px

.item__link
    font-size: 12px

.portfolio_button
    justify-self: start
    margin: 35px

// ---------------------------------------SECTION 2---------------------------------
.portfolio_section_2
    background-color: var(--color-white)

.portfolio__grid_section_2
    display: grid
    grid-template-columns: minmax(40px, auto) 1fr minmax(50px, auto) / 1fr
    column-gap: 30px
    row-gap: 50px
    gap: 3em

    @media (max-width: 1210px)
        grid-template-columns: 1fr 1fr 1fr
    @media (max-width: 1057px)
        grid-template-columns: 1fr 1fr
    @media (max-width: 767.87px)
        grid-template-columns: 1fr

.item__title_section_2
    margin-bottom: -30px

.item__description_section_2
    padding: 0px 35px 10px