@import variables
@import parts/header
@import parts/main-block
@import parts/main-project
@import parts/portfolio
@import parts/contacts
@import parts/footer
@import parts/about
@import parts/digital-clock
@import reset

// ---------------------------------------COMMON--------------------------------------
h1, h2, h3, h4, h5, h6
    font-family: "Inter"

small
    color: var(--color-black)
    margin: 0px 35px
    justify-self: end

[class*="__container"]
    max-width: 1123px
    margin: 0 auto
    padding: 5px
@media (max-width: 1399.9px)
    [class*="__container"]
        max-width: 1000px
@media (max-width: 1057px)
    [class*="__container"]
        max-width: 900px
@media (max-width: 991.87px)
    [class*="__container"]
        max-width: 850px
@media (max-width: 767.87px)
    [class*="__container"]
     max-width: 650px
@media (max-width: 319.87px)
    [class*="__container"]
     max-width: 320px

.wrapper
    min-height: 100%
    overflow: hidden
    display: flex
    flex-direction: column

.title
    font-size: 40px
    line-height: calc( 46/40*100% )
    letter-spacing: 2px
    text-align: center
    margin-bottom: 20px
    font-weight: 600

    @media (max-width:  767.9px)
        font-size: 30px

.subtitle
    font-size: 14px
    line-height: calc( 26/20*100% )
    letter-spacing: 1px
    margin-bottom: 45px
    text-align: center
    margin-bottom: 30px
    font-family: "Inter"

    @media (max-width:  767.9px)
        font-size: 12px

.page
    flex: 1 1 auto

.button_white
    border-radius: 50px
    display: flex
    justify-content: center
    align-items: center
    padding: 5px 44px
    letter-spacing: 0.2px
    min-height: 30px
    font-weight: 700
    font-size: 12px
    line-height: calc(28/14 * 100%)
    text-align: center
    transition: all 0.5s ease-in-out 0s
    color: var(--color-brown)
    background-color: var(--color-white)
    // box-shadow: 0px 10px 10px var(--color-brown-dark)
    cursor: pointer

.button_white:hover
        color: var(--color-white)

@media (max-width: 660px)
    .button_white
        color: var(--color-brown)
        background-color: var(--color-white)
        box-shadow: none

@media (max-width: 500px)
    .button
        flex: 1 1 100%

.button_brown:active

.text
    margin-top: 10px
    font-size: 14px
    color: var(--color-grey)

.item
    background-color: var(--color-white)
    display: grid
    border-left: 1px solid #000
    padding: 20px
    grid-template: minmax(50px, auto) 1fr minmax(auto, auto) / 1fr