:root
    --color-white: #FFFFFF
    --color-brown: rgba(104, 53, 6, 1)
    --color-brown-dark: #4c2705
    --color-grey: #6c7983


    --color-green: #086964
    --color-orange: #FF7B47
    --color-blue: #082f46
    --color-blue-light: linear-gradient(#f37e7e, #fafafa)
    --color-pink: #f37e7e
    --color-light-grey: #fafafa
    --color-black: #000
