:root
    --color-white: #FFFFFF
    --color-green: #086964
    --color-orange: #FF7B47
    --color-brown: #5e2d02
    --color-blue: #082f46
    --color-blue-light: linear-gradient(#f6aee5, #fafafa)
    --color-grey: #6c7983
    --color-pink: #F56692
    --color-light-grey: #fafafa
    --color-black: #000
