:root {
  --color-accent: #F7654A;
  --color-grey: #999999;
  --color-dark: #404149;
  --color-white: #fff;
  --color-backgr: #e5e5e5e5;
  --color-black: #000;
  --color-about: #F7F7F7;
}

.header {
  min-height: 740px;
  background-image: url(/img/elements/element_3/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 20px;
  margin-bottom: 112px;
}
@media (max-width: 1279.89px) {
  .header__nav {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header__logo {
  width: 60px;
  height: 60px;
}

.header__burger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px 15px;
}

.header__burger span {
  background-color: #fff;
  width: 21px;
  border-radius: 1px;
  height: 3px;
}

.header__title {
  font-size: 64px;
  line-height: cal(148.4375%);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1279.89px) {
  .header__title {
    font-size: 50px;
  }
}
@media (max-width: 767.89px) {
  .header__title {
    font-size: 32px;
  }
}

.header__subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  margin-top: 16px;
}

.about {
  position: relative;
  z-index: 2;
  margin-top: -150px;
}
@media (max-width: 1279.89px) {
  .about {
    margin-top: -200px;
  }
}
@media (max-width: 800.89px) {
  .about {
    margin-top: -250px;
  }
}

.about__section {
  max-width: 1110px;
  background-color: var(--color-about);
  padding: 57px 150px;
  margin: 0 auto;
}
@media (max-width: 1279.89px) {
  .about__section {
    max-width: 600px;
    padding: 40px 50px;
  }
}
@media (max-width: 800.89px) {
  .about__section {
    padding: 20px 30px;
    max-width: 300px;
  }
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
}
@media (max-width: 1279.89px) {
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 800.89px) {
  .about__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.about__item {
  height: 190px;
  width: 186px;
  text-align: center;
}
@media (max-width: 1279.89px) {
  .about__item {
    align-self: center;
    justify-self: center;
  }
}

.item__title {
  font-size: 72px;
  line-height: 148.6111111111%;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 25px;
}

.item__title_second-line {
  font-size: 36px;
  line-height: 34%;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 10px;
}

.item_desc {
  font-size: 18px;
  line-height: 150%;
  color: var(--color-grey);
  margin-top: 20px;
}

.projects {
  width: 1110px;
  padding-top: 97px;
  margin: 0 auto;
}
@media (max-width: 1279.89px) {
  .projects {
    width: 800px;
    padding: 40px 50px;
  }
}
@media (max-width: 800.89px) {
  .projects {
    padding: 20px 30px;
    width: 400px;
  }
}
@media (max-width: 500.89px) {
  .projects {
    padding: 10px 20px;
    width: 250px;
  }
}

.projects__title {
  margin-bottom: 47px;
}
@media (max-width: 800.89px) {
  .projects__title {
    margin-bottom: 30px;
    margin-top: 20px;
  }
}

.projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 30px;
}
@media (max-width: 1279.89px) {
  .projects__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.projects__item {
  justify-self: center;
  max-width: 350px;
}
@media (max-width: 800.89px) {
  .projects__item {
    max-width: 250px;
  }
}

.projects__img {
  margin-bottom: 45px;
}
@media (max-width: 800.89px) {
  .projects__img {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 800.89px) {
  .projects__img img {
    width: 200px;
  }
}

.projects__title-card {
  font-size: 24px;
  line-height: 150%;
  color: var(--color-dark);
}

.projects__line {
  width: 55px;
  height: 6px;
  background-color: var(--color-accent);
  margin-bottom: 15px;
}

.projects__desc {
  margin-top: 10px;
}

.clever {
  background-color: var(--color-accent);
  margin-top: 125px;
  padding: 30px 10px 45px 10px;
}
@media (max-width: 1279.89px) {
  .clever {
    margin-top: 50px;
  }
}
@media (max-width: 419.89px) {
  .clever {
    padding: 10px;
  }
}

.clever__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 700.89px) {
  .clever__row {
    display: block;
  }
}

.clever__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 147.9166666667%;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
@media (max-width: 1279.89px) {
  .clever__title {
    font-size: 30px;
  }
}
@media (max-width: 419.89px) {
  .clever__title {
    font-size: 24px;
  }
}

.clever__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
@media (max-width: 1279.89px) {
  .clever__text {
    font-size: 16px;
  }
}
@media (max-width: 700.89px) {
  .clever__text {
    margin-bottom: 30px;
  }
}
@media (max-width: 419.89px) {
  .clever__text {
    margin-bottom: 20px;
    font-size: 12px;
  }
}

.clever__button {
  width: 175px;
  height: 49px;
  padding: 14px 30px;
  background-color: var(--color-white);
  color: var(--color-black);
  display: flex;
  align-items: center;
}

.clever__img {
  margin-right: 15px;
}

.clever__button-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
}

.deal {
  padding: 145px 0 135px;
}
@media (max-width: 1279.89px) {
  .deal {
    padding: 70px 0;
  }
}

.deal__title {
  margin-bottom: 70px;
}

.deal__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}
@media (max-width: 1279.89px) {
  .deal__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 817.89px) {
  .deal__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

.deal__item {
  width: 350px;
  height: 250px;
  background: var(--color-about);
  padding: 37px 92px 59px 86px;
}
@media (max-width: 407.89px) {
  .deal__item {
    padding: 29px 62px 29px 56px;
    width: 300px;
    height: 200px;
  }
}

.deal__img {
  text-align: center;
}

.deal__desc {
  margin-top: 31px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 147.619047619%;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-black);
}

.pictures__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 0;
}
@media (max-width: 1919.89px) {
  .pictures__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 1489.89px) {
  .pictures__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 1033.89px) {
  .pictures__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

.pictures__item img {
  width: 480px;
  height: 407px;
}
@media (max-width: 554.89px) {
  .pictures__item img {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 379.89px) {
  .pictures__item img {
    width: 250px;
  }
}

.questions {
  padding: 150px 0px;
}
@media (max-width: 800.89px) {
  .questions {
    padding: 70px 0px;
  }
}

.questions__div {
  margin-top: 30px;
  padding: 0px 10px 0px 10px;
}

.questions__div:first-child {
  margin-top: 0;
}

.questions__title {
  margin-bottom: 50px;
}

.questions__arrow {
  margin-top: 13px;
  margin-right: 15px;
  transition: all 0.5s ease;
}

.questions__arrow_transform {
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}

.questions__question {
  font-size: 24px;
  line-height: 150%;
  color: var(--color-accent);
  margin-bottom: 40px;
  cursor: pointer;
}

.questions__reply {
  margin-top: 30px;
  display: none;
  transition: all 0.5s ease;
}

.partners {
  background-color: var(--color-dark);
  padding: 100px 0px;
}
@media (max-width: 499.89px) {
  .partners {
    padding: 50px 0px;
  }
}

.partners__title {
  text-align: center;
  margin-bottom: 60px;
}

.partners__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  gap: 65px;
}
@media (max-width: 1159.89px) {
  .partners__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 499.89px) {
  .partners__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.partners__logo {
  justify-self: center;
}

.reviews {
  padding: 150px 0px;
}
@media (max-width: 1173.89px) {
  .reviews {
    padding: 100px 0px;
  }
}
@media (max-width: 800.89px) {
  .reviews {
    padding: 50px 0px;
  }
}

.reviews__title {
  margin-bottom: 60px;
}

.reviews__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1173.89px) {
  .reviews__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.review {
  margin: 20px;
}

.review__bg {
  background-color: var(--color-about);
  padding: 0px 30px 30px 30px;
}

.review__title {
  color: var(--color-accent);
  font-weight: 700;
  font-size: 96px;
  line-height: 152.0833333333%;
  text-transform: uppercase;
  margin-bottom: -59px;
}

.review__author {
  margin-top: 30px;
  color: var(--color-black);
  font-size: 21px;
  line-height: 147.619047619%;
  letter-spacing: 0.02em;
}

.review__author span {
  color: var(--color-accent);
}

.contacts {
  padding: 100px 0px 150px 0px;
}
@media (max-width: 1159.89px) {
  .contacts {
    padding: 50px 0px 50px;
  }
}

.contacts__title {
  margin-bottom: 60px;
}

.contacts__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1159.89px) {
  .contacts__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 699.89px) {
  .contacts__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.card {
  width: 255px;
  text-align: center;
  justify-self: center;
}

.card__img {
  margin-bottom: 36px;
}

.card__title {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-grey);
}

.card__desc {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-black);
}

.card__desc_accent {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-accent);
}

.footer {
  background-color: var(--color-dark);
  padding: 30px 30px;
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .footer__row {
    display: block;
  }
}

@media (max-width: 600px) {
  .footer__item:last-child {
    margin-top: 20px;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.subtitle-black {
  font-size: 36px;
  line-height: 160.6060606061%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-dark);
}
@media (max-width: 800.89px) {
  .subtitle-black {
    font-size: 30px;
  }
}

.subtitle-white {
  font-weight: 700;
  font-size: 48px;
  line-height: cal(147.9166666667%);
  letter-spacing: 0.02em;
  color: var(--color-white);
  text-transform: uppercase;
}
@media (max-width: 800.89px) {
  .subtitle-white {
    font-size: 30px;
  }
}

.desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-grey);
}
