@charset "UTF-8";
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a:visited {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

img, svg, video {
  vertical-align: top;
  display: inline-block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые */
  /* считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}

div {
  -webkit-tap-highlight-color: transparent;
}

path {
  fill: inherit;
  stroke: inherit;
}

:root {
  --index: calc(1vw + 1vh);
  --text: #e7e6d3;
  --main-article-transform: translate3d(0, calc(var(--index) / -7.5), 0);
  --transition: transform .75s cubic-bezier(.075, 0.5, 0, 1);
}

@font-face {
  font-family: "Raleway Rg";
  src: url("/assets/fonts/raleway-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway Bl";
  src: url("/assets/fonts/raleway-black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.header {
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  height: calc(var(--index) * 10);
  background-image: url("/img/elements/element_8/ground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  bottom: calc(var(--index) * -4.37);
}

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.layers__title-block {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
  text-transform: uppercase;
  color: var(--text);
  text-shadow: 0 0 15px #9e7d35;
  line-height: 2;
  transition: var(--transition);
  margin-top: -20px;
}

.layers__caption {
  font-size: calc(var(--index) / 1.175);
  letter-spacing: calc(var(--index) / 3.5);
  font-family: "Raleway Rg";
}

.layers__title {
  font-size: calc(var(--index) * 2.5);
  letter-spacing: calc(var(--index) * 0.6);
  margin-top: calc(var(--index) * -0.75);
}

.layers__layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  will-change: transform;
  z-index: 2;
  transition: var(--transition);
}

.layer__base {
  z-index: 0;
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}

.layer__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layer__front {
  transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.article {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article__content {
  text-align: center;
}

.article__header {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.8);
  letter-spacing: calc(var(--index) / 7.5);
  transform: var(--main-article-transform);
  will-change: transform;
  transition: var(--transition);
}

.article__desc {
  font-family: "Raleway Rg";
  max-width: calc(var(--index) * 30);
  font-size: calc(var(--index) * 0.9);
  margin-top: calc(var(--index) / 1.25);
  transform: var(--main-article-transform);
  will-change: transform;
  transition: var(--transition);
}

.article__copy {
  position: absolute;
  bottom: calc(var(--index) * 2.5);
  opacity: 0.45;
  font-size: calc(var(--index) * 0.75);
  font-family: "Raleway Rg";
  letter-spacing: calc(var(--index) / 37.5);
}

body {
  background-color: #010101;
  font-family: "Raleway Bl", sans-serif;
  line-height: 1.55;
}

.content {
  will-change: transform;
}
