@charset "UTF-8";
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a:visited {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

img, svg, video {
  vertical-align: top;
  display: inline-block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые */
  /* считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}

div {
  -webkit-tap-highlight-color: transparent;
}

path {
  fill: inherit;
  stroke: inherit;
}

:root {
  --color-white: #fff;
  --color-black: #181511;
  --color-yellow: #FFAE2B;
  --color-yellow-darker: #ba7300;
  --color-yellow-dark: #935c03;
  --color-grey: #ACA592;
}

.header {
  width: 100%;
  height: 80px;
  background-color: var(--color-black);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__company-wrapper {
  margin-right: 42px;
}

.header__company-name {
  color: var(--color-yellow);
  font-size: 22px;
  line-height: 127.2727272727%;
}

.header__company-name:hover,
.header__company-name:active {
  color: var(--color-yellow-darker);
}

.header__list {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 28px;
}

.header__item {
  color: var(--color-grey);
  font-size: 11px;
  line-height: 218.1818181818%;
  text-transform: uppercase;
}

.header__right {
  height: 80px;
  display: flex;
  align-items: center;
}

.footer {
  background-color: var(--color-black);
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__title-block {
  text-align: center;
}

.footer__title {
  margin-bottom: 20px;
}

.footer__subtitle {
  color: #ACA592;
  font-size: 12px;
  line-height: 233.3333333333%;
}

.footer__subscribe {
  margin-top: 83px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__input {
  height: 54px;
  width: 420px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: 1px solid #4B4136;
  padding: 10px;
  font-family: "Old Standard TT";
}
@media (max-width: 767.9px) {
  .footer__input {
    width: 300px;
  }
}

.footer__button {
  height: 54px;
  width: 420px;
  background-color: var(--color-yellow);
}
@media (max-width: 767.9px) {
  .footer__button {
    width: 300px;
  }
}

.footer__button:hover {
  background-color: var(--color-yellow-darker);
}

.footer__button:active {
  background-color: var(--color-yellow-dark);
}

.footer__desc {
  font-size: 14px;
  line-height: 142.8571428571%;
  color: var(--color-grey);
}

.footer__desc span {
  color: var(--color-yellow);
}

.social-bar {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  gap: 8px;
  padding-bottom: 40px;
}

.social-bar__item {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4B4136;
  transition: all 0.3s linear;
  cursor: pointer;
}

.social-bar__item:hover {
  border: 1px solid var(--color-yellow);
}

.social-bar__item:active {
  border: 1px solid var(--color-yellow-darker);
}

.social-bar__item:hover svg {
  stroke: var(--color-yellow);
  fill: var(--color-yellow);
}

.social-bar__item:active svg {
  stroke: var(--color-yellow-darker);
  fill: var(--color-yellow-darker);
}

.social-bar__item svg {
  stroke: var(--color-white);
  fill: var(--color-white);
}

.footer__container {
  padding: 0px 115px;
}
@media (max-width: 767.9px) {
  .footer__container {
    padding: 0px 50px;
  }
}

.footer__last-line {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-top: 1px solid #4B4136;
  color: #ACA592;
}
@media (max-width: 767.9px) {
  .footer__last-line {
    flex-direction: column;
  }
}

.footer__left {
  font-size: 12px;
  line-height: 183.3333333333%;
}

.footer__left span {
  color: var(--color-yellow);
}

.footer__right {
  display: flex;
}

.footer__last-item {
  color: var(--color-yellow);
  font-size: 11px;
  line-height: cacl(272.7272727273%);
}

.footer__last-item:not(:first-child) {
  padding-left: 10px;
}

.footer__last-item:not(:last-child) {
  border-right: 1px solid #4B4136;
  padding-right: 10px;
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/img/elements/element_7/promo.jpg");
  background-size: cover;
  min-height: 602px;
  background-position: center;
}

.promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 870px;
}
@media (max-width: 1439.9px) {
  .promo__container {
    width: auto;
  }
}

.promo__subtitle {
  margin-bottom: 15px;
  color: var(--color-yellow);
}

.promo__title {
  color: var(--color-white);
  font-size: 70px;
  line-height: 114.2857142857%;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 35px;
}
@media (max-width: 1439.9px) {
  .promo__title {
    font-size: 50px;
  }
}
@media (max-width: 767.9px) {
  .promo__title {
    font-size: 30px;
  }
}

.portfolio {
  background-color: var(--color-black);
  padding-bottom: 120px;
}

.portfolio__subtitle {
  color: var(--color-grey);
}

.portfolio__flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #4B4136;
  padding: 41px;
  width: 387px;
  height: 315px;
}
@media (max-width: 500.9px) {
  .item {
    width: 300px;
    height: 270px;
    padding: 0px;
  }
}

.item:hover .item__title {
  color: var(--color-white);
}

.item:hover .item__image {
  filter: brightness(130%);
}

.item__image {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.6);
}

.item__title {
  margin-top: 20px;
  color: var(--color-grey);
  transition: all 0.3s linear;
}

.services {
  background-color: var(--color-black);
  padding-bottom: 120px;
}

.services__subtitle {
  color: var(--color-grey);
}

.services__flex {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #4B4136;
  padding: 60px;
  width: 400px;
  height: 350px;
}

.card__title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--color-yellow);
  font-size: 29px;
  line-height: 137.9310344828%;
}

.card__subtitle {
  color: #ACA592;
  font-size: 15px;
  line-height: 173.3333333333%;
}

.card__desc {
  color: #ACA592;
  font-size: 11px;
  line-height: 236.3636363636%;
  margin-top: 5px;
}

.social {
  background-color: var(--color-black);
  width: 100%;
}

.social__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #4B4136;
  border-top: 1px solid #4B4136;
  padding: 21px 0px;
}

.social__social-item-wrapper {
  width: 217px;
  height: 240px;
  position: relative;
}

.social__social-img {
  background-size: cover;
  background-position: center;
  z-index: 2;
  width: 100%;
  height: 217px;
}

.social__ig {
  position: absolute;
  z-index: 3;
  left: 37%;
  top: -33px;
}

.social__social-desc {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.social__title {
  color: var(--color-yellow);
  font-size: 40px;
  line-height: 125%;
}
@media (max-width: 1439.9px) {
  .social__title {
    font-size: 30px;
  }
}
@media (max-width: 868.9px) {
  .social__title {
    font-size: 20px;
  }
}

@media (max-width: 1439.9px) {
  #social1 {
    display: none;
  }
}
@media (max-width: 1000.9px) {
  #social2 {
    display: none;
  }
}
html,
body {
  height: 100%;
  line-height: 166.7222222222%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Old Standard TT", serif;
  color: black;
  background-color: var(--color-black);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 115px;
  box-sizing: border-box;
}
@media (max-width: 767.9px) {
  ._container {
    max-width: 100%;
    padding: 0px 50px;
  }
}

.main {
  flex: 1 1 auto;
}

a {
  transition: all 0.4s linear;
}

a:hover {
  color: var(--color-yellow);
}

a:active {
  color: var(--color-yellow-darker);
}

.title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 120px 0px 60px 0px;
}

.title {
  color: var(--color-yellow);
  font-size: 60px;
  line-height: 116.6666666667%;
}
@media (max-width: 767.9px) {
  .title {
    font-size: 40px;
  }
}

.subtitle {
  font-size: 12px;
  line-height: 183.3333333333%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button {
  width: 145px;
  height: 50px;
  padding: 15px 25px;
  background-color: var(--color-black);
  border: 1px solid var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-yellow);
  transition: all 0.4s linear;
  text-transform: uppercase;
  font-size: 11px;
}

.button:hover {
  border: 1px solid var(--color-yellow);
  background-color: var(--color-yellow);
  color: var(--color-black);
}

.button:active {
  background-color: var(--color-yellow-darker);
}

.fixed {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
}

.scroll-item {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.3s ease-in-out;
}

.scroll-item.animation-class {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}

.services__card {
  opacity: 0;
  transform: translateX(-90px);
  transition: all 0.3s ease-in-out;
}

.services__card.animation-class {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

.services__card.animation-class:nth-child(1) {
  transition-delay: 0.1s;
}

.services__card.animation-class:nth-child(2) {
  transition-delay: 0.3s;
}

.services__card.animation-class:nth-child(3) {
  transition-delay: 0.6s;
}

.social-item:nth-child(1),
.social-item:nth-child(2) {
  opacity: 0;
  transform: translateX(-90px);
  transition: all 0.3s ease-in-out;
}

.social-item:nth-child(3),
.social-item:nth-child(4) {
  opacity: 0;
  transform: translateX(90px);
  transition: all 0.3s ease-in-out;
}

.social-item.animation-class {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.social-item.animation-class:nth-child(1) {
  transition-delay: 0.3s;
}

.social-item.animation-class:nth-child(2) {
  transition-delay: 0.1s;
}

.social-item.animation-class:nth-child(3) {
  transition-delay: 0.3s;
}

.social-item.animation-class:nth-child(4) {
  transition-delay: 0.1s;
}

.social-follow {
  opacity: 0;
  transform: translateY(-90px);
  transition: all 0.3s ease-in-out;
}

.social-follow.animation-class {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
