@import variables
@import fonts

@import parts/page
@import parts/header
@import parts/sidebar
@import parts/profile
@import parts/main
@import parts/container

html
    font-size: 62.5%

body
    background-color: var(--color-black-two)
    font-family: var(--bs-font-sans-serif)
    color: var(--color-white)
    font-size: 1.4rem